/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #69C71B;
  --vp-c-brand-2: #2F8F00;
}

section > div.item > h2 {
  font-size: 1rem;
}
section > div.items a p{
  text-indent: 0.8em;
}

.vp-doc table > tbody > tr > td{
  vertical-align: top
}


/* 图片点击放大优先级调整 */
.medium-zoom-image {
  z-index: 9999 !important;
}

/* 文章图片圆角 */
#VPContent img {
  align-self: center;
  border-radius: 1rem;
}